  #chart {
    margin-top: 20px;
  }

  h1 {
    text-align: center;
    margin-top: 50px;
  }

  p {
    max-width: 600px; /* Adjust the width as needed */
  }

  .bar {
    fill: steelblue;
  }

  .bar:hover {
    fill: #4682B4;
  }

  /* Style the x-axis labels */
  .x-axis text {
    transform: rotate(-45deg);
    text-anchor: end;
  }
  #tooltip{
        position: absolute;
        width:200px;
        height: auto;
        padding: 10px;
        background-color: blanchedalmond;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
  } 
  #tooltip.hidden{
    display: none;
  }
  #tooltip p{
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
  }

  #chart {
    margin-top: 20px;
    margin-left: 300px;
  }

  h1, p {
    text-align: left;
    margin-top: 0px;
  }

  h1 {
    margin-top: 80px; /* Add margin to move the heading down */
  }

  p {
    max-width: 600px; /* Adjust the width as needed */
    margin-left: 300px;
  }

  .bar {
    fill: steelblue;
  }

  .bar:hover {
    fill: #4682B4;
  }

  /* Style the x-axis labels */
  .x-axis text {
    transform: rotate(-45deg);
    text-anchor: end;
  }
  /* Add styles for the top-left div */
.top-left {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  /* Style the buttons */
  button {
    margin-right: 5px; /* Add some spacing between buttons */
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
